PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb+srv://nroy7419269065_db_user:IjLrdacXURHQjISr@vedvyas.3mxxlji.mongodb.net/?appName=Vedvyas

# JWT Secrets
JWT_ACCESS_SECRET=your_access_token_secret_here
JWT_ACCESS_EXPIRATION=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=duznxzjgw
CLOUDINARY_API_KEY=176884668547475
CLOUDINARY_API_SECRET=m_FfshWJ4mYk58pL-2T6Yj-3XkU

# Admin Configuration
ADMIN_SECRET=your_admin_signup_secret_here

# Razorpay Credentials
RAZORPAY_KEY_ID=rzp_live_SXowe3o76yp77c
RAZORPAY_KEY_SECRET=o1oSSYOd6BcaDCmoOWfkMGLx
RAZORPAY_MERCHANT_ID=MMeJDj0zBRyg0t